<!DOCTYPE html>
<html>
<head>
  <script>
    $(document).ready(function() {
      function deselect(e) {
        $('.pop').slideFadeToggle(function() {
          e.removeClass('selected');
        });
      }

      $(function() {
        $('.slot').on('click', function() {
          if($(this).hasClass('selected')) {
            deselect($(this));
          } else {
            $(this).addClass('selected');
            $('.pop').slideFadeToggle();
          }
          return false;
        });
      });

      $.fn.slideFadeToggle = function(easing, callback) {
        return this.animate({ opacity: 'toggle', height: 'toggle' }, 'fast', easing, callback);
      };
    });
  </script>
  <%= stylesheet_link_tag "day_book" %>
</head>
<body>
<div id="calendar">
  <!--column loop-->
  <div id="time_column">
    <div class="time_title">Time</div>
  <% @slot_times.each do |slot_time|
      %><div class="time_label"><%= slot_time %></div>
    <% end %>
  </div>
  <%

    current_stylist_id = 0
    column_switch = false
    @dayentries.each do |entry|
      if current_stylist_id != entry.stylist_id then
        current_stylist_id = entry.stylist_id
        if !column_switch then
          column_switch = true
        else
          %>
          </div>
        <% end %>
        <div class="column">
          <div class="stylist"><%= entry.stylist.name %></div>
      <%
        end
      %>
      <div class="slot">1</div>
    <% end %>
    </div>
</div>
</body>
</html>
