<!DOCTYPE=html>
<html>
<head>
  <%= stylesheet_link_tag "day_book" %>
</head>
<body>
<h1>DayBook#index</h1>

<p> There are : <%= @dayentries.size %> entries </p>
<p>Find me in app/views/day_book/Index.html.erb</p>
<div class="calendar">
  <!--column loop-->
  <%
    current_stylist_name = ''
    column_switch = false
    @dayentries.each do |entry|
      if current_stylist_name != entry.stylist.name then
        current_stylist_name = entry.stylist.name
        if !column_switch then
          column_switch = true
        else
          %>
          </div>
        <% end %>
        <div class="column">
          <div class="stylist"><%= entry.stylist.name %></div>
      <%
        end
      %>
      <div class="slot">1</div>
    <% end %>
    </div>
</div>
</body>
</html>
