<h1>Editing Shop Stylist Workday</h1>

<%= render 'form', shop_stylist_workday: @shop_stylist_workday %>

<%= link_to 'Show', @shop_stylist_workday %> |
<%= link_to 'Back', shop_stylist_workdays_path %>
