// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bookings {
  #background_grid {
    margin:auto;
    th {
      height:100px;
      background-color: green;
      padding-top: 5px;
      img {
        max-width: 90px;
        height: auto;
        border-radius: 8px;
      }
    }
    td {
      width:100px;
      height:50px;
      border:1px solid #f00;
      padding: 0px;
    }
  }
  .booking_grid {
    width: 900px;
    margin: 0px auto;
    height: 860px;
    border: #999 1px dashed;
    color: #888;
    position: absolute;
  }

    h3 {
      margin: 0.5em;
      padding-bottom: 0.5em;
      font: 100% sans-serif;
      color: #226;
      border-bottom: 3px dotted #77d;
    }

    .booking_entry {
      position: absolute;
      width: 100px;
      height: 50px;
      border: #000 1px solid;

      //padding: 20px;
      //font-size: 27px;
      //color: #D9A800;
    }

}
