*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// @mixin breakpoint($point) {
//   @if $point == medium {
//     @media (min-width: 1000px) { @content; }
//   }
//   @else if $point == small {
//     @media (min-width: 628px)  { @content; }
//   }
// }

$columns: 9;
$slots: 22;
$column_width: percentage(100/$columns/100);
$slot_height: percentage(150/$slots/100);

html {
  height: 100%;
  body {
    height: 80%;
  }
}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:500px;
  height: 500px;
  z-index:50;
  padding: 25px 25px 20px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}

#dialog-form {
  background-color: white;
  padding: 5px;
}

#url {
  display: none;
}

div#calendar {
  width:100%;
  height:100%;
  padding:20px 0;
  background-color: gray;
  font-family: sans-serif;
  display: flex;
  div.column {
    flex: 1;
    background-color: red;
    height: 100%;
    div.stylist {
      background-color: white;
      img {
        width: 100%;
        height: 100%;
      }
    }
    div.slot {
      background-color: red;
      font-size: 1rem;
      border: 1px black dashed;
      height: $slot_height;
      color: white;
      padding: 2%;
    }
    div.slot.rowspan2 {
      height: $slot_height * 2;
    }
    div.slot.selected {
      background-color:purple !important;
      color:white;
      z-index:100;
    }
    div.slot.available {
      background-color: green;
      font-size: 1rem;
    }
  }
  div#time_column {
    //flex: 1;
    background-color: deepskyblue;
    height: 100%;
    width: 5%;
    div.time_title {

    }
    div.time_spacer {
      height: $slot_height * 4.175;
    }
    div.time_label {
      background-color: lightgoldenrodyellow;
      border: 1px black dashed;
      height: $slot_height;
      text-align: right;
      padding-right: 5px;
      width: auto;
    }
  }
}
